<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Primary.json</string>
	<string>Secondary.json</string>
	<string>Advanced.json</string>
	<string>BigMeal.json</string>
	<string>AfternoonTea.json</string>
	<string>SoDelicious.json</string>
	<string>YoungOuting.json</string>
	<string>GoNorth.json</string>
	<string>MyMaldives.json</string>
	<string>SpiritTerritory.json</string>
	<string>ColorfulLife.json</string>
	<string>SunSetBeach.json</string>
</array>
</plist>
